main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: system-ui;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section img {
    width: auto;
    height: 240px;
}

section button {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.fact-button {
    padding: 10px 20px;
    background-color: gold;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.fact-button:hover {
    background-color: goldenrod;
    cursor: pointer;
}
